[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
black = "*"
dataclasses = "*"  # needed for black on python 3.6

[packages]
pytest = "*"
ofxstatement-iso20022 = {editable = true,path = "."}
